.back{
	margin-left:13em;
	margin-right:14.9em;
	background-color:rgba(0,0,0,0.5);
	color:white;
	border-radius:5px;
	margin-top:0 auto;
	font-size:45px;
}
	
.logo{
      width: 400px;
	  height: 400px;
	  margin-left: 33em;
	 
}
/*this is made by Annanya Mathur*/
.logo h1
{
	width:400px;
	height:360px;
	background-image: conic-gradient(from -26deg at 31% 52.1%,red 0deg,red 90deg,blue 90deg,blue 180deg,green 180deg,green 270deg,yellow 270deg,yellow 360deg);
	font-size:24em;
	padding-bottom:70px;
	font-family: sans-serif;
	background-clip:text;
	-webkit-background-clip:text;
	color:transparent;
}